# **Task 1: Data Cleaning and Preprocessing**

**1. Importing Libraries**

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

**2. Load the Data**

In [4]:
df = pd.read_csv('/content/car_prices.csv')
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17269,2007,BMW,Z4,3.0i,Convertible,automatic,4usbu33577lw70931,tx,31.0,102727.0,white,tan,supreme fcu,8550,8000,Wed Jan 21 2015 02:30:00 GMT-0800 (PST)
17270,2007,Cadillac,Escalade ESV,Base,SUV,automatic,1gyfk66847r298623,nj,NaN,162665.0,white,—,valley auto llc,12650,14600,Wed Dec 17 2014 09:30:00 GMT-0800 (PST)
17271,2007,Chevrolet,Silverado 1500,Work Truck,Extended Cab,automatic,1gcec19c57z614953,tx,26.0,116145.0,white,gray,lease plan usa,7175,7900,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
17272,2007,Chevrolet,Suburban,1500 LS,SUV,NaN,1gnfk16397j182157,il,NaN,120147.0,gray,—,chignoli auto sales inc,13200,13700,Thu Dec 18 2014 10:00:00 GMT-0800 (PST)
17273,2007,Chevrolet,Suburban,1500 LS,SUV,automatic,3gnfc160x7g171897,tx,NaN,120164.0,gray,gray,jerry's gm,11000,11400,Fri Dec 19 2014 14:00:00 GMT-0800 (PST)

**3. Basic Info of the Data**

In [5]:
#Display first few rows of the dataset
df.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800,21500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900,30000,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500,27750,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000,67000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17274 entries, 0 to 17273
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          17274 non-null  int64
 1   make          17237 non-null  object
 2   model         17236 non-null  object
 3   trim          17195 non-null  object
 4   body          16934 non-null  object
 5   transmission  15444 non-null  object
 6   vin           17274 non-null  object
 7   state         17274 non-null  object
 8   condition     13958 non-null  float64
 9   odometer      17260 non-null  float64
 10  color         17231 non-null  object
 11  interior      17231 non-null  object
 12  seller        17274 non-null  object
 13  mmr           17274 non-null  int64
 14  sellingprice  17274 non-null  int64
 15  saledate      17274 non-null  object
dtypes: float64(2), int64(3), object(11)
memory usage: 2.1+ MB
None

In [7]:
print(df.describe(include='all'))

                year   make     model   trim   body transmission  \
count   17274.000000  17237     17236  17195  16934        15444
unique           NaN     75       655    909     35            2
top              NaN   Ford  3 Series   Base  Sedan    automatic
freq             NaN   2443       495   1919   6752        14788
mean     2009.703659    NaN       NaN    NaN    NaN          NaN
std         3.374741    NaN       NaN    NaN    NaN          NaN
min      1986.000000    NaN       NaN    NaN    NaN          NaN
25%      2008.000000    NaN       NaN    NaN    NaN          NaN
50%      2010.000000    NaN       NaN    NaN    NaN          NaN
75%      2012.000000    NaN       NaN    NaN    NaN          NaN
max      2015.000000    NaN       NaN    NaN    NaN          NaN

                      vin  state    condition       odometer  color interior  \
count               17274  17274  13958.00000   17260.000000  17231    17231
unique              17272     34          NaN            NaN     20       17
top     wbagn63403ds43612     ca          NaN            NaN  black    black
freq                    2   8071          NaN            NaN   3751     7019
mean                  NaN    NaN     29.87749   72764.865353    NaN      NaN
std                   NaN    NaN     13.47235   51771.847687    NaN      NaN
min                   NaN    NaN      1.00000       1.000000    NaN      NaN
25%                   NaN    NaN     23.00000   33743.500000    NaN      NaN
50%                   NaN    NaN     34.00000   64124.500000    NaN      NaN
75%                   NaN    NaN     41.00000  102040.250000    NaN      NaN
max                   NaN    NaN     49.00000  999999.000000    NaN      NaN

                    seller            mmr   sellingprice  \
count                17274   17274.000000   17274.000000
unique                2918            NaN            NaN
top     nissan infiniti lt            NaN            NaN
freq                   493            NaN            NaN
mean                   NaN   13839.759176   13461.245745
std                    NaN    9893.312853    9906.511255
min                    NaN      25.000000       1.000000
25%                    NaN    7175.000000    6800.000000
50%                    NaN   11950.000000   11600.000000
75%                    NaN   18400.000000   18000.000000
max                    NaN  157000.000000  154000.000000

                                       saledate
count                                     17274
unique                                      715
top     Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
freq                                       1647
mean                                        NaN
std                                         NaN
min                                         NaN
25%                                         NaN
50%                                         NaN
75%                                         NaN
max                                         NaN

**4. Identify and Handle Missing Values**

In [40]:
df = df.isnull().sum()
df

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

In [11]:
df = pd.read_csv('/content/car_prices.csv')
#Fix missing text values with 'unknown'
text_cols = ['make', 'model', 'trim', 'body', 'transmission', 'color', 'interior']
for col in text_cols:
    df[col] = df[col].fillna('unknown')

#Fill numeric columns with median
numeric_cols = ['condition', 'odometer']
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())

In [12]:
print(df.isnull().sum())

year            0
make            0
model           0
trim            0
body            0
transmission    0
vin             0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mmr             0
sellingprice    0
saledate        0
dtype: int64

**5. Remove Duplicates**

In [13]:
df = df.drop_duplicates()

**6. Standardize Text Columns**

In [15]:
text_columns = ['make', 'model', 'trim', 'body', 'transmission', 'state', 'color', 'interior', 'seller']
for col in text_columns:
    df[col] = df[col].str.lower().str.strip()

**7. Convert Date Formats to Standard  (dd-mm-yyyy)**

In [18]:
#Convert to datetime safely
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')

#Drop any failed date parses (NaT)
df = df[df['saledate'].notnull()]

#Format the datetime
df['saledate'] = df['saledate'].dt.strftime('%d-%m-%Y')

In [20]:
df['saledate']

0        16-12-2014
1        16-12-2014
2        15-01-2015
3        29-01-2015
4        18-12-2014
            ...
17269    21-01-2015
17270    17-12-2014
17271    18-12-2014
17272    18-12-2014
17273    19-12-2014
Name: saledate, Length: 17238, dtype: object

**8. Rename Column Headers**

In [21]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [22]:
df.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

**9. Fix Data Types**

In [23]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')
df['condition'] = pd.to_numeric(df['condition'], errors='coerce')
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')
df['mmr'] = pd.to_numeric(df['mmr'], errors='coerce')
df['sellingprice'] = pd.to_numeric(df['sellingprice'], errors='coerce')

In [24]:
print(df.dtypes)

year              int64
make             object
model            object
trim             object
body             object
transmission     object
vin              object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mmr               int64
sellingprice      int64
saledate         object
dtype: object

In [25]:
#If any non-numeric values
print(df[['year', 'condition', 'odometer', 'mmr', 'sellingprice']].isnull().sum())

year            0
condition       0
odometer        0
mmr             0
sellingprice    0
dtype: int64

In [26]:
print(df[['year', 'condition', 'odometer', 'mmr', 'sellingprice']].head())

   year  condition  odometer    mmr  sellingprice
0  2015        5.0   16639.0  20500         21500
1  2015        5.0    9393.0  20800         21500
2  2014       45.0    1331.0  31900         30000
3  2015       41.0   14282.0  27500         27750
4  2014       43.0    2641.0  66000         67000

**10. Outlier Detection and Removal**

In [34]:
# Remove unrealistic odometer values
df1 = df[(df['odometer'] >= 0) & (df['odometer'] <= 300000)]

# Ensure condition is within valid range
df2= df[(df['condition'] >= 1) & (df['condition'] <= 5)]

In [35]:
df1

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,kia,sorento,lx,suv,automatic,5xyktca69fg566472,ca,5,16639.0,white,black,kia motors america inc,20500,21500,16-12-2014
1,2015,kia,sorento,lx,suv,automatic,5xyktca69fg561319,ca,5,9393.0,white,beige,kia motors america inc,20800,21500,16-12-2014
2,2014,bmw,3 series,328i sulev,sedan,automatic,wba3c1c51ek116351,ca,45,1331.0,gray,black,financial services remarketing (lease),31900,30000,15-01-2015
3,2015,volvo,s60,t5,sedan,automatic,yv1612tb4f1310987,ca,41,14282.0,white,black,volvo na rep/world omni,27500,27750,29-01-2015
4,2014,bmw,6 series gran coupe,650i,sedan,automatic,wba6b2c57ed129731,ca,43,2641.0,gray,black,financial services remarketing (lease),66000,67000,18-12-2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17269,2007,bmw,z4,3.0i,convertible,automatic,4usbu33577lw70931,tx,31,102727.0,white,tan,supreme fcu,8550,8000,21-01-2015
17270,2007,cadillac,escalade esv,base,suv,automatic,1gyfk66847r298623,nj,34,162665.0,white,—,valley auto llc,12650,14600,17-12-2014
17271,2007,chevrolet,silverado 1500,work truck,extended cab,automatic,1gcec19c57z614953,tx,26,116145.0,white,gray,lease plan usa,7175,7900,18-12-2014
17272,2007,chevrolet,suburban,1500 ls,suv,unknown,1gnfk16397j182157,il,34,120147.0,gray,—,chignoli auto sales inc,13200,13700,18-12-2014
17273,2007,chevrolet,suburban,1500 ls,suv,automatic,3gnfc160x7g171897,tx,34,120164.0,gray,gray,jerry's gm,11000,11400,19-12-2014

In [36]:
df2

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,kia,sorento,lx,suv,automatic,5xyktca69fg566472,ca,5,16639.0,white,black,kia motors america inc,20500,21500,16-12-2014
1,2015,kia,sorento,lx,suv,automatic,5xyktca69fg561319,ca,5,9393.0,white,beige,kia motors america inc,20800,21500,16-12-2014
5,2015,nissan,altima,2.5 s,sedan,automatic,1n4al3ap1fn326013,ca,1,5554.0,gray,black,enterprise vehicle exchange / tra / rental / t...,15350,10900,30-12-2014
7,2014,chevrolet,cruze,1lt,sedan,automatic,1g1pc5sb2e7128460,ca,2,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,9800,16-12-2014
9,2014,chevrolet,camaro,lt,convertible,automatic,2g1fb3d37e9218789,ca,3,4809.0,red,black,d/m auto sales inc,26300,17500,20-01-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17126,2014,ford,focus,se,sedan,automatic,1fadp3f24el287670,fl,3,13210.0,silver,black,remarketing by ge/west financial acceptance,12750,11700,28-01-2015
17161,2014,ford,focus,se,hatchback,automatic,1fadp3k27el150647,ga,2,24432.0,silver,black,enterprise vehicle exchange / tra / rental / t...,12500,8700,08-01-2015
17199,2007,cadillac,cts,base,sedan,automatic,1g6dm57t170102956,ga,2,121053.0,black,black,automobile acceptance corp,5150,3200,18-12-2014
17207,2007,cadillac,escalade,base,suv,unknown,1gyfk63837r139189,ab,2,247996.0,black,beige,go auto outlet west,10700,8750,18-12-2014
17211,2007,cadillac,cts,base,sedan,automatic,1g6dm57t070163814,mi,4,82079.0,white,gray,automobiles paille inc,7200,6500,18-12-2014

**11. Cleaned Dataset**

In [37]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 17238 entries, 0 to 17273
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          17238 non-null  int64
 1   make          17238 non-null  object
 2   model         17238 non-null  object
 3   trim          17238 non-null  object
 4   body          17238 non-null  object
 5   transmission  17238 non-null  object
 6   vin           17238 non-null  object
 7   state         17238 non-null  object
 8   condition     17238 non-null  int64
 9   odometer      17238 non-null  float64
 10  color         17238 non-null  object
 11  interior      17238 non-null  object
 12  seller        17238 non-null  object
 13  mmr           17238 non-null  int64
 14  sellingprice  17238 non-null  int64
 15  saledate      17238 non-null  object
dtypes: float64(1), int64(4), object(11)
memory usage: 2.2+ MB
None

In [38]:
print(df.head())

   year   make                model        trim   body transmission  \
0  2015    kia              sorento          lx    suv    automatic
1  2015    kia              sorento          lx    suv    automatic
2  2014    bmw             3 series  328i sulev  sedan    automatic
3  2015  volvo                  s60          t5  sedan    automatic
4  2014    bmw  6 series gran coupe        650i  sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca          5   16639.0  white    black
1  5xyktca69fg561319    ca          5    9393.0  white    beige
2  wba3c1c51ek116351    ca         45    1331.0   gray    black
3  yv1612tb4f1310987    ca         41   14282.0  white    black
4  wba6b2c57ed129731    ca         43    2641.0   gray    black

                                   seller    mmr  sellingprice    saledate
0                 kia motors america  inc  20500         21500  16-12-2014
1                 kia motors america  inc  20800         21500  16-12-2014
2  financial services remarketing (lease)  31900         30000  15-01-2015
3                 volvo na rep/world omni  27500         27750  29-01-2015
4  financial services remarketing (lease)  66000         67000  18-12-2014

In [39]:
df.to_csv('cleaned_dataset.csv', index=False)